#conteiner{
    width: 1100px;
    margin: auto; 
}
#conteinerConteudoPrincipal{
    height: 400px;
    margin: 30px auto 30px ;
}
#conteinerImagemGrande{
    width: 630px;
    float: left;
}

#conteinerImagemGrande img{
    width: 630px;
}

#conteinerTexto{
    width: 470px;
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 10px ;
    box-sizing: border-box;
    text-align: justify;
}

#conteinerTexto #link {
    padding: 10px;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    background: #333333;
    color: #ffffff;
    border-radius: 7px;
    margin: 15px 0px;
    font-size: 25px;
}

#conteinerTexto #link a  {
    color: #ffffff;
    text-decoration: none;
    font-weight: 900;
}
#conteinerImagens{
    height: 350px;
    margin: 10px 0px;
}

.imagensPequenas{
    margin: 10px;
    width: 230px;
    height: 150px;
}

